<launch>

<rosparam file="$(find tankbot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="tankbot" args="Revolute 11_position_controller Revolute 16_position_controller Revolute 66_position_controller Revolute 67_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/tankbot/joint_states"/>
</node>

</launch>